<div class="row">
  <div class="container col-md-4 col-md-offset-4">
    <form class="" action="/add" method="post">
      <div class="form-group">
        <label for="race">Select Unit Race</label>
        <select class="form-control" name="race">
          <option value="" disabled selected>Please Choose</option>
          <option value="terran">Terran</option>
          <option value="zerg">Zerg</option>
          <option value="protoss">Protoss</option>
        </select>
      </div>
      <div class="form-group">
        <label for="unit">Unit</label>
        <input type="text" name="unit" value="" placeholder="Unit Name (i.e. Zergling)">
      </div>
    </form>
  </div>

</div>
