<h1>Database (current)</h1>

<div class="row">
  <div class="container col-xs-8 col-xs-offset-2 well row-fluid">
    {{#if data}}
    {{data}}
    {{else}}
    No Database Information Available
    {{/if}}

  </div>

<!-- DATATABLES: Protoss Units -->
  <div class="container col-xs-12 well">
    <h2>Protoss Units</h2>
    <table id="dt-protoss-units" class="table table-striped table-hover table-bordered text-center" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Unit</th>
          <th>Mineral</th>
          <th>Vespene</th>
          <th>Supply</th>
          <th>Build Time</th>
          <th>Build From</th>
          <th>Life</th>
          <th>Shields</th>
          <th>Energy</th>
          <th>Armor</th>
        </tr>
      </thead>

    </table>
  </div>

<!-- DATATABLES: Terran Units -->
  <div class="container col-xs-12 well">
    <h2>Terran Units</h2>
    <table id="dt-terran-units" class="table table-striped table-hover table-bordered text-center" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Unit</th>
          <th>Mineral</th>
          <th>Vespene</th>
          <th>Supply</th>
          <th>Build Time</th>
          <th>Build From</th>
          <th>Life</th>
          <th>Energy</th>
          <th>Armor</th>
        </tr>
      </thead>

    </table>
  </div>

<!-- DATATABLES: Terran Units -->
  <div class="container col-xs-12 well">
    <h2>Zerg Units</h2>
    <table id="dt-zerg-units" class="table table-striped table-hover table-bordered text-center" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Unit</th>
          <th>Mineral</th>
          <th>Vespene</th>
          <th>Supply</th>
          <th>Build Time</th>
          <th>Build From</th>
          <th>Life</th>
          <th>Energy</th>
          <th>Armor</th>
        </tr>
      </thead>

    </table>
  </div>
</div>
