<!DOCTYPE html>
<html>
  <head>
    <title>Starcraft 2 API</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script defer type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script defer type="text/javascript" src="javascripts/main.js"></script>
  </head>
  <body>
    {{> nav }}
    {{{body}}}
  </body>
</html>
