* {
  word-wrap: break-word;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.even {
  background-color: #272b30 !important;
}

label {
  color: #c8c8c8;
}

select {
  color: black;
}

.dataTables_info {
  color: #c8c8c8 !important;
}

table {
  font-size: 1.3rem;
}
